In [1]:
# load library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load the dataset
data= pd.read_csv("/content/Walmart.csv")

In [3]:
data

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [4]:
data.shape

(10051, 11)

In [5]:
data.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [6]:
data.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

#**DATA CLEANING**

###*Diplicated records*

In [8]:
data.duplicated().sum()

np.int64(51)

we have 51 duplicated records to delete

In [9]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

np.int64(0)

###*Missing values*

In [10]:
data.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

we have 31 records that the haven't unit_price or quantity so I will delete them because they will not help in analysing the data.

In [11]:
data.dropna(inplace=True)
data.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [12]:
data.shape

(9969, 11)

###*Fix the Inappropriate type*

In [13]:
data["unit_price"]=data["unit_price"].str.replace("$","").astype(float)

In [14]:
data.describe()

         invoice_id   unit_price     quantity       rating  profit_margin
count   9969.000000  9969.000000  9969.000000  9969.000000    9969.000000
mean    5010.116561    50.622142     2.355602     5.828839       0.393744
std     2886.217349    21.203766     1.605455     1.763723       0.090659
min        1.000000    10.080000     1.000000     3.000000       0.180000
25%     2524.000000    32.000000     1.000000     4.000000       0.330000
50%     5016.000000    51.000000     2.000000     6.000000       0.330000
75%     7508.000000    69.000000     3.000000     7.000000       0.480000
max    10000.000000    99.960000    10.000000    10.000000       0.570000

###*Add significate mesures*

In [15]:
data["total_price"]=data["unit_price"]*data["quantity"]

#*Change the columns name to lower case*

In [16]:
data.columns=data.columns.str.lower()

In [17]:
data.to_csv("Walmart_cleaned.csv",index=False)